<div class="vh-100" style="background-color: #14163E;">
  <div class="row gx-5  justify-content-center">
    <div class="col-4"></div>
    <div class="col-4 mt-5">
      <p class="text-center fs-3 text-light"  style="margin-top: 70px;">Sign in</p>
      <form>
        <div class="mb-3">
          <label for="username" class="text-white form-label">Username</label>
          <input type="text" id="username" class="form-control" placeholder="Enter your username">
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col">
              <label for="password" class="text-white form-label">Password</label>
            </div>
            <div class="col">
              <p class="text-end" style="color: #F03B7A;"> <a> Forgot password?</a></p>
            </div>
          </div>
          <input type="password" id="password" class="form-control" placeholder="Enter your password">
        </div>
        <div class="d-grid mb-2">
        <button type="submit" class="btn btn-lg text-white" style="background-color: #F03B7A;">Sign in</button>
      </div>
      <p class="text-white d-inline">Don't have an account yet?</p>
      <button type="submit" [routerLink]="['/register']" class="btn text-white ms-2" style="background-color: #F03B7A;">Sign up</button>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</div>
